{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "extends": ["airbnb", "prettier"],
  "rules": {
    "max-len": [1, 120, 2, {"ignoreComments": true}],
    "no-debugger": "off",
    "no-param-reassign": "off",
    "class-methods-use-this": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "import/prefer-default-export": [0],
    "arrow-parens": 0,
    "camelcase": 0,
    "semi": 0,
    "comma-dangle": [
      2,
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
      }
    ],
    "no-console": 0,
    "no-restricted-syntax": 0,
    "react/prop-types": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-first-prop-new-line": [2, "multiline"],
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-no-target-blank": 0,
    "react/require-extension": 0,
    "react/self-closing-comp": 0,
    "react/jsx-indent": [0, "space"],
    "react/jsx-indent-props": [0, "space"],
    "import/resolver": {
      "webpack": {
        "config": "webpack.common.js"
      }
    }
  }
}
